/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/body {
	font-family: "Open sans;",sans-serif;
}
ul {
	/* shorthand property	*/
	 /* Creates space betweem ul tag the nav elements */
	 /* applies padding in all sides */
	 padding: 0.8rem;

	/*Properties that make up the padding property*/
	/*padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-right: 0.8rem;
	padding-left: 0.8rem;
	*/

	/*creates space between the nav and intro*/
	margin: 2rem;
	border-bottom: 1px soldi gray;
	list-style-type: none;

	/*margin vs padding*/
	/*margin is best used when creating space between elements.*/
	/*padding is best used when creating space between an element's border and it's content.*/
}

nav .nav, .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#intro, #succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2 #intro p {
	/* creates space between the contents of the intro section */
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
}

#succeed-info h2, #succeed-info h3 {
	margin-bottom: 1rem;
}

#succeed-info .card {
/* appear beside each other */
	display: inline-block;
	/*aligns elements with the tallest element in line*/
	/*used with the "inline-block" value*/
	/*allows for cards to have equal height that adjust with the content*/
	vertical-align: top;
	min-height: 175px;
	/*measurement is based on equally dividing the parent container's width*/
	/*only use 30% and not 33.33% because of margin to avoid overflow and horizontal scrolling*/
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

#pre-footer {
	padding: 1rem;
	color: white;
	background-color: #002540;
	color: white;
}
#pre-footer .options{
	display: inline-block;
	padding: 1rem;
	width: 20%;

}

/* * for all (universal selector) */
#pre-footer > div > * {
	margin-bottom: .3rem;
	margin-top: .3rem;
}