<header>
			<h1>Zuitt IT Solutions</h1>
		</header>

		<main>
			<section id="producs-offered">
				<h1>Products Offered</h1>

			<table border="3">
				<thead>
					<tr>
						
						<th colspan="1">Package</th>
						<th>Price</th>
						<th>Description</th>
					</tr>
				</thead>
			
				<tbody>
					<tr>
						 <!-- td defines table data element -->
						 <td>Basic</td>
						 <td>&#8369;500</td>
						 <td>Packages include fully functional website with desired specifications.</td>
					</tr>
					<tr>
						<td>Premium</td>
						 <td>&#8369;1000</td>
						 <td>Enjoy all the benefits of the basic package and also includes site support and maintenance.</td>
					</tr>
					<tr>
						<th colspan="3">
							Additional features after initial project is inclusive of charges
						</th>
					</tr>
				</table>
			</section>
			<section id="contract form">
				<h2>Contract Form</h2>
				
				<form action="https://google.com" method="GET">

				<label for="email">First Name:</label><br>
				<input type="text" name="first_name"	id="first_name" required>

				<br>

				<label for="email">Last Name:</label><br>
				<input type="text" name="last_name"	id="last_name"	required>

				<br>

				<label for="email">Email:</label><br>
				<input type="text" name="email"	id="email" required>

				<br>

				<label for="email">Contact Number:</label><br>
				<input type="text" name="contact_number" id="contact_number" required>

				<br>
				<label for="service_type">Service Type </label>
				<select name="service_type" id="service_type">
					<option value="Front End Programming">Front End Programming</option>
					<option value="Back End Programming">Back End Programming</option>
					<option value="Full Stack Programming">Full Stack Programming</option>
					<option value="JavaScript Programming">Java Script Programming</option>
				</select>

					<br>
					
					<label for="preferred_contact">Preferred Contact:</label>
					
					<br>

					<input type="checkbox" name="role1" id="role1" value="Email">
					<label for="role1">Email</label><br>

					<input type="checkbox" name="role2" id="role2" value="Phone">
					<label for="role2">Phone</label><br>

					<label for="Package">Package:</label><br>
					<input type="radio" name="basic">Basic</input>

					<br>

					<input type="radio" name="premium">Premium</input>

					<br>

					<button type="send_inquiry">Send Inquiry</button>
					<button type="reset">Reset</button>




				
			</section>

