* {
	margin: 0;
	padding: 0;
	box-sizing: border-box	;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.right-nav {
	position: relative;
	display: inline;
	left: 60em;
}


.nav-bar {
	display:inline;
	top: 0;
	position: sticky;
	list-style-type: none;
	height: 0;
	width: 30%;
	padding-bottom: 80px;
	margin-right: 30px;
	padding-top: 4em;
	font-weight: 300;
}

.nav-logo {
	position: fixed;
	top: 30px;
	display: inline;
	margin-left: 5em;
}

.nav1, .nav2, .nav3, .nav4, .nav5, .nav6 {
	display: inline;
	font-size: 1.1rem;
	position: sticky;
	text-align: right;
	padding-left: 1.2em;
	margin-left: 0.7em;
	font-weight: 600;
}

.tuitt-button {
	background-color: #c1295b;
	color: 	white;
	border-radius:500px;
	border: none;
	display: inline;
	float:right;
  position: fixed;
  top: 1.2em;
  right: 110px;
  font-size: 20px;
  font-weight: 700;
  width:150px;
  height: 50px;

 } 

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	height: 60vh;
	margin-top: 3em;
}

.title {
 color: white;
 font-size: 4em;
 margin-right: 1.7em;
 text-align: right;
 margin-left: 14em;
 position: relative;
}

.subtitle {
color: white;
font-size: 1.8em;
margin-left: 42em;
margin-right: 4em;
text-align: right;
padding-top: 2em;
font-weight: 300;

}

.front-bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 60vh;
}

.title,.title-2 {
  font-family: 'Zilla Slab', serif;
}

.pre-footer{
  background-color: #f7fbfb;
  text-align: center;
  margin-bottom: 5em;
  height: 30vh;
}

.prefooter-description {
	padding-left: 15em;
	margin-left: 20em;
	margin-right: 20em;
}

.book-button {
  display: inline;
  background-color: #336589;
  display: inline-block;
  border: none;
  border-radius: 150px;
  width: 200px;
  min-height: 40px;
  color: white;
  margin-top: 10px;
  text-align: center;
  margin-left: 295px;
  font-size: 20px;
}

footer {
  display: block;
  text-align: center;
  margin-left: 300px;
  font-weight: 100;
}

.title-2 {
	text-align: center;
	padding-left: 6em;
	margin-top: 3em;
	margin-bottom: 1.5em;
	font-size: 2.5em;
}

.apply-button {
	display: inline;
	background-color: #c1295b;
	border-radius: 600px;
	color: white;
	border: none;
	min-height: 50px;
	float: right;
	position: absolute;
	top: 27em;
	right: 6em;
	font-weight: 900;
	width: 190px;
	font-size: 19px;
}

.intro-description {
  left: 4em;
  margin-left: 20em;
  margin-right: 20em;
  padding-left: 13em;
}