#external {
	color: yellow;
}

* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 3rem;
}

#sub-header	{
	text-transform: uppercase;
}

.text-green	{
	background-color: green;
}

li[class=border-blue] {
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}

 img + ul  {
	list-style-type: none;
}

section img{
	height: 20vh;
	width: 20vh;
	border-radius: 100px;
}

/* Note: ul has an inline inclusion (general sibling selector method) with p,Shouldve included */
The general sibling combinator (~) separates two selectors and matches all iterations of the second element, that are following the first element (though not necessarily immediately), and are children of the same parent element.	

 ul~p {
	text-align: center;
}

section > ul > p {
	letter-spacing: 10px;
}

